# Secures the server with this token, if set
CEP_SERVER_TOKEN="aa"
# change this probably
CEP_BASE_URL=http://localhost:8000

DNS_TOKEN=$(openssl rand -hex 32)
DNS_IP=172.17.0.1

# Injects the reachable lighthouse ip into the container
# For dev, use you 192.168.1.X ip (or whatever subnet your LAN uses)
PUBLIC_IP=<your-reachable-ip>
