services:

  unbound:
    image: mvance/unbound:latest
    network_mode: host
    volumes:
      - ./unbound:/etc/unbound
      - unbound-state:/var/lib/unbound
      - ./startupscripts/start_dns.sh:/app/start.sh
    restart: unless-stopped
    command: /app/start.sh
    depends_on:
      - cloudbox-main


  cloudbox-client:
    network_mode: host
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    build:
      context: .
    container_name: cloudbox-client 
    command: >
      /app/start.sh
    environment:
      CLOUDBOX_BASE_URL: "${CLOUDBOX_BASE_URL}"
      CLOUDBOX_SERVER_TOKEN: "${CLOUDBOX_SERVER_TOKEN}"
      PUBLIC_IP: "${PUBLIC_IP}"
    depends_on:
      - cloudbox-main
    volumes:
      - ./src:/app/src
      - ./startupscripts/start_client.sh:/app/start.sh


  cloudbox-main:
    networks: 
      - cloudbox
    build:
      context: .
    container_name: cloudbox-main 
    command: >
      uv run cloudbox server run
    ports:
      - "8000:8000"
    environment:
      - APP_STORE_HOST_NAME: "cloudbox-appstore"
      - CLOUDBOX_SERVER_TOKEN: "${CLOUDBOX_SERVER_TOKEN}"
    volumes:
      - ./src:/app/src


  cloudbox-appstore:
    networks: 
      - cloudbox
    build:
      context: .
    container_name: cloudbox-appstore
    command: >
      uv run cloudbox apps run
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./src:/app/src


networks:
  cloudbox:
    driver: bridge


volumes:
  unbound-state:

