services:

  cep-dns:
    build:
      context: ./unbound
    network_mode: host
    container_name: cep-dns 
    volumes:
      - unbound-state:/var/lib/unbound

      # dev
      - ./unbound/service/api.py:/app/api.py
    restart: unless-stopped
    command: uvicorn api:app --host 0.0.0.0 --port 8053
    environment:
      DNS_TOKEN: "${DNS_TOKEN}"
    depends_on:
      - cep-main


  cep-client:
    network_mode: host
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    image: cep:latest
    container_name: cep-client 
    command: >
      /app/start.sh
    environment:
      CEP_BASE_URL: "${CEP_BASE_URL}"
      CEP_SERVER_TOKEN: "${CEP_SERVER_TOKEN}"
      PUBLIC_IP: "${PUBLIC_IP}"
    depends_on:
      - cep-main
    volumes:
      # dev
      - ./src:/app/src


  cep-main:
    networks: 
      - cep
    image: cep:latest
    container_name: cep-main 
    command: >
      uv run cep server run
    ports:
      - "8000:8000"
    environment:
      APP_STORE_HOST_NAME: "cep-appstore"
      CEP_SERVER_TOKEN: "${CEP_SERVER_TOKEN}"
      DNS_IP: "${DNS_IP}"
      DNS_TOKEN: "${DNS_TOKEN}"
    volumes:
      # dev
      - ./src:/app/src


  cep-appstore:
    networks: 
      - cep
    image: cep:latest
    container_name: cep-appstore
    command: >
      uv run cep apps run
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./src:/app/src


networks:
  cep:
    driver: bridge


volumes:
  unbound-state:

